@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ShoppingApp</h1>
    @if (TempData.ContainsKey("username"))
    {
        <div class="alert alert-success">
            Welcome @TempData["username"]
        </div>
    }
</div>
